
.chat-container {
  display: flex;
  height: 100vh;
  background-color: transparent;
}

.api-response {
  padding: 30px; 
  /* margin-top: 20px;  */
 }
 
 
 .response-item {
  margin-bottom: 20px; 
 }
 
 
 .response-item a {
  text-decoration: none;
  color: #3498db;
 }
 
 .response-item a:hover {
  text-decoration: underline; 
 }
.sidebar {
  width: 20%;
  /* background-color: #252424; */
  padding: 16px;
  /* border-right: 1px solid #ccc; */
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  margin-top: 70px;
  margin-bottom: 50px;
  margin-left: 70px;
  /* background: rgba(251, 248, 248, 0.3); */
  border: 1px solid var(--unnamed-color-777c83);
  /* background: #FFFFFF 0% 0% no-repeat padding-box; */
  border: 1px solid #abb2ba;
  border-radius: 16px;
  /* opacity: 0.3; */

}

.sidebar-header {
  text-align: center;
  margin-bottom: 20px;
}

.logo {
  
  position: absolute;
  top: 0;
  margin-left: 70px;
  padding: 10px; 
  z-index: 2; 
  max-width: 100%;
  height: 27px;
  color: var(--unnamed-color-1b88e6);
  text-align: left;
  font: normal normal bold 21px/27px Red Hat Display;
  letter-spacing: 0px;
  color: #1B88E6;
  opacity: 1;
}

.titlee {
  position: absolute;
  margin-top: 30px;
  left: 0;
  padding: 10px; 
  font-size: 14px;
  margin-left: 70px;
  color: #fff;
  max-width: 100%;
  height: 14px;
  color: var(--unnamed-color-0c111b);
  text-align: left;
  font: normal normal 600 11px/14px Red Hat Display;
  letter-spacing: 0px;
  color: #0C111B;
  opacity: 1;
  
}

.subtitlee {
  font-size: 12px;
  margin-top: 20px;
  color: #ccc;
  font-family:Verdana, Geneva, Tahoma, sans-serif
}

.recent-chat-labell {
  margin-top: 10px;
  width: 134px;
  height: 26px;
  text-align: left;
  font: normal normal 600 20px/26px Red Hat Display;
  letter-spacing: 0px;
  color: #0C111B;
  opacity: 1 !important;
}

.divider-container {
  position: relative;
  margin-top: 20px;
}


.divider-below-recent-chat {
  border: 0.5px solid #ccc; 
}
/* .new-chat-button,
.clear-chat-button {
  margin-bottom: 16px;
  background-color: #c5c6c8;
  color: rgb(40, 37, 37);
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
} */

.bottom-left-section {
  align-items: center;
  bottom: 0;
  display: flex;
  left: 0;
  margin-left: 80px;
  position: absolute;
}


.bottom-left-text {
  color: #1a1e2d;
    font-size: 14px;
    font-weight: 400;
    height: 18px;
    letter-spacing: 0;
    margin-right: 5px;
    max-width: 100%;
    opacity: 1;
    text-align: left;
}


.bottom-left-image {
  height: 16px;
    margin-top: 3px;
    opacity: 1;
    width: 70px;

}



.header-textt{
  display: flex;
  justify-content: flex-start;
align-items: center; 
width: 50%;
  margin-top: 10px; 
}
.ask-question-text {
  text-align: left;
  color: #0C111B;
  font: normal normal 600 20px/26px Red Hat Display;
  letter-spacing: 0px;
  opacity: 1;
  /* font-weight: bold;  */
  margin-left: 20px;
  /* margin-top: -30px; */
  font-size: 22px;
  user-select: none;
}

.new-chat-button {
  /* position: absolute; 
  top: 80px;
  left: 1300px; */
  width: 106px;
  height: 41px; 
  color: white;
  /* background: transparent linear-gradient(270deg, var(--unnamed-color-1b88e6) 0%, #1778CB 100%) 0% 0% no-repeat padding-box; */
  background: transparent linear-gradient(270deg, #1B88E6 0%, #1778CB 100%) 0% 0% no-repeat padding-box;
  border-radius: 6px;
  opacity: 1; 
  border: none;
  cursor: pointer; 
  margin-right: 40px;

} 
.clear-chat-button {
  /* position: absolute;
  top: 80px;
  left: 1180px; */
   width: 106px;
  height: 41px;
 color: #1B88E6;
 opacity: 1; 
 background-color: transparent;
 border: none;
 cursor: pointer; 
} 
.header-buttons{
  display: flex;
  justify-content: flex-end; 
  margin-top: 15px; 
  
}

.mobile-menu {
  display: none; 
  
}
.hamburger-button {
  position: fixed;
  top: 10px;
  left: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}


.divider {
  
  margin-top:20px;
  margin-left: 20px;
  margin-right: 10px;
  width: 95%;
  border: 1px solid var(--unnamed-color-777c83);
  border: 1px solid #777C83;
  opacity: 0.42;
}


/* .new-chat-button,
.clear-chat-button {
  background-color: #007bff; 
  color: white; 
  border: none;
  padding: 5px 20px;
  border-radius: 5px;
  cursor: pointer;
} */


/* .new-chat-button:hover,
.clear-chat-button:hover {
  background-color: #0056b3; 
} */
.save-button {
  margin-bottom: 16px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
}

.chat-history {
  flex-grow: 1;
  overflow-y:auto;
  /* border-top: 1px solid #ccc; */
  padding-top: 16px;
  display: flex;
  flex-direction: column; 
  font-size: 20px;
}
.chat-history-entry {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  margin-bottom: 8px;
  /* background-color: #f7f7f7; */
  background-color: transparent;
  border-top: 1px solid #777C83;
  border-bottom: 1px solid #777C83;
  /* border-radius: 4px; */
  color: white;
  font-size: 18px;
}
.chat-history-entry:hover {
  background-color: #635e5e; 
}
.chat-history-entry.active {
  background-color: #635e5e;
  color: #fff;
}

.delete-button {
  background-color: rgb(62, 59, 59);
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 4px 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.delete-button i {
  margin-right: 4px;
}
.chat-content {
  /* flex-grow: 1; */
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  /* background-color: #3b3939; */
  color: #fff;
  border: 1px solid #777C83;
  border-radius: 16px;
  margin-top: 70px;
  margin-bottom: 50px;
  margin-left: 60px;
  margin-right: 80px;
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  border: 1px solid var(--unnamed-color-777c83);
  /* background: #FFFFFF 0% 0% no-repeat padding-box; */
  border: 1px solid #c1c6cb;
 
  /* opacity: 0.3; */
  
}

.chat-messagess {
  flex-grow: 1;
  /* margin-top: 10px;
  padding: 16px; */
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  
}

.message {
  padding: 8px;
  margin: 10px 0;
  border-radius: 8px;
  max-width: 800px;
  align-self: flex-start; 
  /* align-items: center; 
  justify-content: center;  */
  /* margin-left: 200px; */
  width: 150%;
}

/* .user-message {
  background-color: #94eca3;
  color: #242222;
  font-size: 20px;
  
}

.bot-message {
  background-color: #f0f0f0;
  color: #000;
  align-self: flex-start; 
  font-size: 20px;
 
  
} */

.user-message {
  color: #100f0f;
  background-color:transparent;
  font-size: 16px;
  padding: 4px 8px; 
  border-radius: 10px; 
  display: flex;
  width: 100%;
  max-width: 1000px;
  align-self: flex-start;
}

.bot-message {
  background-color:transparent; 
  color: #000;
  font-size: 16px;
  padding: 4px 50px;  
  border-radius: 10px; 
  /* display: flex; */
  width: 100%;
  max-width: 900px;
  align-self: flex-start;

}

 .user-content {
  display: flex;
  align-items: center; 
  margin-right: 10px; 
}
.user-text {
  max-width: 90%; 
  font-weight: bold; 
  /* white-space: nowrap;  */
  overflow: hidden; 
  text-overflow: ellipsis; 
}
.user-icon{
/* position: absolute; */
width: 40px;
height: 40px;
background: #CED4DB;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
opacity: 1;
margin-right: 10px;
margin-bottom: auto;
}

.input-container {
  display: flex;
  align-items: center;
}
.user-icon img {
width: 24px;
height: 24px;
background: transparent;
object-fit: cover;
}

/* .bot-icon::before {
  content: '\1F9D1'; 
  font-size: 20px;
  margin-right: 5px;
} */

.bot-content {
  display: flex;
  align-items: flex-start; 
  margin-right: 10px;
   
}
.bot-text {
  max-width: 90%; 
  overflow: hidden; 
  text-overflow: ellipsis; 
  margin-top: 5px;
}
.bot-icon{
  width: 40px;
  height: 40px;
  background:#1B88E6;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  margin-right: 10px;
  margin-bottom: auto;
}

.bot-icon img {
  width: 44px;
  height: 44px;
  background: transparent;
  object-fit: cover;
}


.message-divider {
  /* width: 100%;
  height: 1px;
  background-color: #0f0e0e; 
  margin: 10px 0; */
  /* display: flex; */
}

.bot-divider {
  width: auto;
  background-color: #000; 
  margin-top: 40px; 
  align-self: center;
  flex-grow: 1;
}

.pdf-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.pdf-table th,
.pdf-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.pdf-table th {
  background-color: #f2f2f2;
}

.pdf-table tr:hover {
  background-color: #f5f5f5;
}




/* .input-container {
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #252424;
  border-top: 1px solid #ccc;
  border: 1px solid #B0B8C3;
  border-radius: 4px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 20px;
} */
.input-box-container {
  display: flex;
  align-items: center;
  width: 95%;
  margin-left: 10px;
  margin-bottom: 10px;
}
/* Style for the RFP Name input */
.rfp-name-input {
  /* flex: 1;  */
  width: 50%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px; /* Add some spacing between inputs */
}

/* Style for the file input */
input[type="file"] {
  width: 50%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.document-upload-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* width: 90%; */
    height: 220px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 30px;
    /* border: 2px dashed #ccc; */
    background-color: #FFFFFF;
    padding: 20px;
    text-align: center;
  }
  
  .upload-text {
    font-size: 20px;
    /* margin-bottom: 10px; */
    margin-top: 20px;
    width: 432px;
    /* height: 52px; */
color: var(--unnamed-color-0c111b);
text-align: center;
letter-spacing: 0px;
color: #0C111B;
opacity: 1;
font-family: RedHatText-Regular;
  }
  
  .file-size-text {
    font-size: 20px;
    width: 432px;
height: 52px;
color: var(--unnamed-color-0c111b);
text-align: center;
letter-spacing: 0px;
color: #0C111B;
opacity: 1;
font-family: RedHatText-Regular;
  }
  .similarDoc-button{
    background:linear-gradient(#1B88E6,#1778CB) ;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    display: flex;
    align-self: flex-start;
    margin-top: 20px;
  }
  
  .upload-button {
    background:linear-gradient(#1B88E6,#1778CB) ;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .upload-button:hover {
    background-color: #0056b3;
  }
  .docimage{
    width: 24px;
height: 30px;

background: transparent 0% 0% no-repeat padding-box;
opacity: 1;
  }
  .uploaded-documents{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-top: 50px;
  }
  .uploaded-document-title {
    /* width: 199px; */
    height: 26px;
    color: var(--unnamed-color-0c111b);
    text-align: left;
    margin-bottom: 20px;
    font: normal normal 600 20px/26px 'Red Hat Display', sans-serif;
    letter-spacing: 0px;
    color: #0C111B;
    opacity: 1;
  }
  
  .uploaded-document-name {
    /* width: 234px; */
    height: 21px;
    color: var(--unnamed-color-0c111b);
    text-align: left;
    letter-spacing: 0px;
    color: #0C111B;
    opacity: 1;
    margin-bottom: 5px;
  }
/* .input-box {
  flex-grow: 1;
  width: 95%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #fff;
  background-color: #100f0f;
  font-size: 18px;
  margin-left: 20px;
  margin-bottom: 10px;
}

.send-button {
  background-color: #5816aa;
  color: rgb(24, 23, 23);
  border: none;
  border-radius: 50%;
  padding: 6px 8px;
  cursor: pointer;
  width: 40px;
  height: 40px;
  margin-left: 8px;
} */


.suggestions-container {
position: absolute;
left: 30px;
bottom: 70px;
width: 90%;
max-height: 100%; 
overflow-y: auto; 
/* border: 1px solid #ccc; */
border-radius: 4px;
background-color: #d6d6d6;
z-index: 1;
}


.suggestions-list {
list-style-type: none;
padding: 0;
margin: 0;
}

.suggestion-item {
padding: 10px;
cursor: pointer;
border-bottom: 1px solid #ccc;
}

.suggestion-item:last-child {
border-bottom: none;
}

.suggestion-item:hover {
background-color: #d5f4f7;
}

.input-box {
  flex-grow: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #1f1c1c;
  /* background-color: #100f0f; */
  font-size: 14px;
  margin-left: 20px;
  margin-bottom: 10px;
}

.send-button {
  background: var(--unnamed-color-1b88e6) 0% 0% no-repeat padding-box;
  background: #1B88E6 0% 0% no-repeat padding-box;
  color: rgb(24, 23, 23);
  border: none;
  padding: 0;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 38px;
  height: 35px;
  margin-left: -50px;
  margin-bottom: 10px;
}

.send-icon {
  width: 24px;
  height: 24px;
}

.chat-placeholder {
display: flex;
align-items: center;
text-align: center;
line-height: 1.5; 
padding: 20px; 
font-size: 15px; 
color: #888; 

}

.chat-placeholder.visible {
display: block;
}

.chat-placeholder:not(.visible) {
display: none;
}
.loading-indicator {
font-size: 24px;
color: #ccc;
margin: 16px;
}
.blinking-cursor {
margin-left: 5px;
background-color: #fff;
animation: blink 1s infinite;
}

@keyframes blink {
0%, 50% {
  opacity: 1;
}
50.1%, 100% {
  opacity: 0;
}
}

/* .input-box {
  flex-grow: 1;
  width: 95%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #fff;
  background-color: #100f0f;
  font-size: 18px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.send-button {
   position: absolute; 
   right: 120px; 
  bottom: 63px;  
  background-color: #5816AA;
  color: rgb(24, 23, 23);
  border: none;
  border-radius: 50%;
  padding: 6px 8px; 
  cursor: pointer;
  display: flex;
  align-self:self-end;
  align-items: center;
  justify-content:center ;
  width: 40px;
  height: 35px;
   margin-bottom: 40px; 
  
} */

/* .divider {
  margin: 1rem 0;
  border-top: 1px solid #ccc;
} */
/* .user-profile-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 7rem; 
  padding: 0.75rem;
  background-color: rgb(71, 67, 67);
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  position: relative;
}

.user-profile-content {
  display: flex;
  align-items: center;
  color: white;
}


.user-profile-name {
  margin-left: 0.5rem;
}

.user-profile-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  background-color: #333;
}
 .mode-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 7rem; 
  padding: 0.75rem;
  background-color: rgb(71, 67, 67);
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  position: relative;
  color: white;
}  */

.user-profile-container {
  position: absolute;
  top: 10px;
  right: 10px; 
  display: flex;
  align-items: center;
}

.user-profile-button {
  width: 40px;
  height: 40px;
  background:#1B88E6;
  border-radius: 50%;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  margin-right: 10px;
  cursor: pointer;
}

.user-profile-image {
  width: 24px;
  height: 24px;
  background: transparent;
  object-fit: cover;
}

.logout-button {
  
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

/* .mode-switch {
  display: flex;
  align-items: center;
  cursor: pointer;
}


.mode-switch input {
  display: none;
}
 */
/* .slider {
  position: relative;
  width: 100px;
  height: 30px;
  background-color: #ccc;
  border-radius: 30px;
  margin-left: 10px; 
}

.mode-label {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50%;
  text-align: center;
  font-size: 12px; 
  color: #fff;
  line-height: 30px;
  transition: 0.4s;
}

.light-label {
  right: 10px;
  opacity: 1;
}

.dark-label {
  left: 10px;
  opacity: 0;
}
 */

/* .dark-mode {
  background-color: rgb(42, 41, 41);
  color: white;
} */
.dark-mode .user-profile-button,
.dark-mode .mode-button{
  background-color: rgb(213, 209, 209);
  color: #000;
}
.dark-mode .user-profile-content{
  color: #000;
}
.dark-mode .input-box {
  /* background-color: #5d5a5a; */
  color: white;
  border: 1px solid white; 
}

.light-mode {
  /* background-color: rgb(213, 206, 206); */
  color: #151414;
}
.light-mode .chat-content{
background:linear-gradient(#dde3f1,white) ;
}
.light-mode .titlee{
  position: absolute;
  margin-top: 30px;
  left: 0;
  padding: 10px; 
  font-size: 14px;
  margin-left: 70px;
  color: #fff;
  max-width: 100%;
  height: 14px;
  color: var(--unnamed-color-0c111b);
  text-align: left;
  font: normal normal 600 11px/14px Red Hat Display;
  letter-spacing: 0px;
  color: #0C111B;
  opacity: 1;
  }

.light-mode .subtitlee{
  color: #000;
}
  .light-mode .sidebar {
    background:linear-gradient(#dde3f1,white);
    /* border: 1px solid #afb3b9; */
  }
/* .light-mode .new-chat-button,
.light-mode .clear-chat-button{
  background-color: #3c3b3b;
  color: white;
} */
.light-mode .divider{
  margin-top:20px;
  margin-left: 20px;
  margin-right: 10px;
  width: 95%;
  border: 1px solid var(--unnamed-color-777c83);
  border: 1px solid #777C83;
  opacity: 0.42;

}
.light-mode .chat-history-entry{
  /* background-color: #494848; */
  background-color: transparent;
  color: rgb(13, 13, 13);
  border-top: 1px solid #777C83;
  border-bottom: 1px solid #777C83;
  border-left: none;
  border-right: none;
  /* border-radius: 4px; */
  /* border: none; */
}
.light-mode .chat-history-entry:hover {
  background-color: #635e5e; 
}
.light-mode .chat-history-entry.active{
  background-color: #635e5e;
  color: #ebe5e5;
}
  .light-mode .delete-button{
    background-color: white;
    color: #000;
  }
.light-mode .send-button {
  /* background-color: #1e1e1e; */
  /* color: rgb(201, 196, 196); */
    }
  .light-mode .chat-history{
    /* border-top: 1px solid #111111; */
  }

.light-mode .input-container{
  display: flex;
  align-items: center;
  width: 95%;
  margin-left: 10px;
  margin-bottom: 10px;
}
.light-mode .input-box {
  height: 30px;
  flex-grow: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #1e1c1c;
  /* background-color: #100f0f; */
  font-size: 14px;
  margin-left: 20px;
  margin-bottom: 10px;
}

.mode-label {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
  font-size: 12px;
  color: #fff;
  transition: 0.4s;
}

.mode-switch {
  position: relative;
  display: inline-block;
  width: 7rem;
  height: 35px;
  margin-right: 30px;
}

.mode-switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(71, 67, 67);
  transition: 0.4s;
  border-radius: 20px;
  
}

.slider:before {
  position: absolute;
  content: '';
  height: 30px;
  width: 16px;
  left: 40px;
  bottom: 2px;
  background-color: rgb(212, 208, 208);
  transition: 0.4s;
  border-radius: 50%;
  
}

input:checked + .slider {
  background-color: #4690de;
}

input:checked + .slider:before {
  transform: translateX(20px);
}


.mode-label {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 30px;
  font-size: 12px;
  transition: 0.4s;
}

.dark-label {
  left: 40px;
}

.light-label {
  right: 40px;
}

.chat-history::-webkit-scrollbar {
  width: 5px;
}

.chat-history::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

.chat-history:hover::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
}


.chat-container::-webkit-scrollbar {
  width: 0;
  background-color: transparent;
}

.chat-container::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

.chat-container:hover::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
}


.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

h1 {
  color: #333;
}

.table-container {
  max-width: 600px;
  margin: 0 auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ccc;
  padding: 10px;
}

/* img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
} */



.dropdownn {
position: relative;
display: inline-block;
margin-right: 10px; 
}


.dropbtn {
background-color:transparent; 
color: #100e0e; 
font-size: 15px;
padding: 10px 20px; 
border: none; 
border-radius: 5px; 
cursor: pointer;
}


.dropdown-content {
/* display: none; */
position: absolute;
background-color: #f9f9f9; 
width: 160px; 
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); 
z-index: 2; 
right: 0; 
top: 100%; 
}


.dropdown-content div {
padding: 12px 16px; 
text-decoration: none;
display: block;
color: #333; 
cursor: pointer;
}


.dropdown-content div:hover {
background-color: #ddd; 
}


.show {
display: block;
}


.active {
background-color: #3498db; 
color: #fff; 
}


@media screen and (max-width: 767px) {
  /* Sidebar styles for mobile view */
  .sidebar {
      width: 20%; 
      display: none; 
    }
    .ask-question-text {
      text-align: left;
      color: #0C111B;
      font: normal normal 600 20px/26px Red Hat Display;
      letter-spacing: 0px;
      opacity: 1;
      /* font-weight: bold;  */
      margin-left: 20px;
      /* margin-top: -30px; */
      font-size: 15px;
      user-select: none;
    }
    .recent-chat-label {
      margin-top: 70px;
      width: 70px;
      height: 20px;
      text-align: left;
      font: normal normal 600 10px/16px Red Hat Display;
      letter-spacing: 0px;
      color: #0C111B;
      opacity: 1 !important;
    }
  
    .divider-container {
      position: relative;
      margin-top: 10px; 
    }
    
    
    .divider-below-recent-chat {
      border: 0.5px solid #ccc; 
    }
    .divider1{
      margin-top: 100px;
    }
    .new-chat-button {
      
      width: 90px;
      height: 30px; 
      background: transparent linear-gradient(270deg, var(--unnamed-color-1b88e6) 0%, #1778CB 100%) 0% 0% no-repeat padding-box;
      background: transparent linear-gradient(270deg, #1B88E6 0%, #1778CB 100%) 0% 0% no-repeat padding-box;
      border-radius: 6px;
      opacity: 1; 
      border: none;
      cursor: pointer; 
      margin-right: 20px;
      font-size: 10px;
    
    } 
   
    .clear-chat-button {
    
       width: 90px;
      height: 30px;
     color: #1B88E6;
     opacity: 1; 
     background-color: transparent;
     border: none;
     cursor: pointer; 
     font-size: 10px;
    } 
    .hamburger-button {
      position: fixed;
      top: 10px;
      left: 10px;
      background-color: transparent;
      border: none;
      cursor: pointer;
    }
    .logo{
      display: none;
    }
   
    .hamburger-icon {
      width: 30px;
      height: 2px;
      background-color: #0b0a0a; 
      margin: 6px 0;
      transition: 0.4s;
    }
    
    
    .hamburger-button.open .hamburger-icon:nth-child(1) {
      transform: rotate(-45deg) translate(-5px, 6px);
    }
    
    .hamburger-button.open .hamburger-icon:nth-child(2) {
      opacity: 0;
    }
    
    .hamburger-button.open .hamburger-icon:nth-child(3) {
      transform: rotate(45deg) translate(-5px, -6px);
    }
 
      .mobile-menu {
        display: flex; 
        
      }
      .sidebar-content{
        width: 50%;
        /* background-color: #252424; */
        padding: 16px;
        /* border-right: 1px solid #ccc; */
        border-radius: 22px;
        display: flex;
        flex-direction: column;
        margin-top: 70px;
        margin-bottom: 50px;
        margin-left: 70px;
        /* background: rgba(251, 248, 248, 0.3); */
        border: 1px solid var(--unnamed-color-777c83);
        /* background: #FFFFFF 0% 0% no-repeat padding-box; */
        border: 1px solid #abb2ba;
        border-radius: 22px;
        /* opacity: 0.3; */
      }
  .sidebar-header {
    text-align: center;
  }

  .chat-history {
    width: 100%; 
    margin: 0 auto;
    display: flex; 
  }

  .user-profile {
    text-align: left;
    display: none;
  }

  .user-profile-button {
    width: 70%; 
    margin-bottom: 10px;
    display: none;
  }

  .user-profile-content {
    display: flex;
    flex-direction: column; 
    display: none;
  }

 
  .mode-switch {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
    display: none;
  }

  .slider {
    width: 65px;
    display: none;
     
  }
  .slider:before {
    position: absolute;
    content: '';
    height: 15px;
    width: 12px;
    left: 12px;
    bottom: 6px;
    background-color: rgb(212, 208, 208);
    transition: 0.4s;
    border-radius: 50%;
    display: none;
    
  }
  .chat-content {
    /* flex-grow: 1; */
    position: relative;
    width: 120%;
    display: flex;
    flex-direction: column;
    /* background-color: #3b3939; */
    color: #fff;
    border: 1px solid #777C83;
    /* border-radius: 22px;
    margin-top: 70px;
    margin-bottom: 50px;
    margin-left: 60px;
    margin-right: 80px; */
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    border: 1px solid var(--unnamed-color-777c83);
    /* background: #FFFFFF 0% 0% no-repeat padding-box; */
    border: 1px solid #c1c6cb;
    /* border-radius: 22px; */
    /* opacity: 0.3; */
    
  }
  .mode-label {
    font-size: 10px;
    margin: 0;  
  }
  .dark-label {
    left: 0px;
  }
  
  .light-label {
    right: 0px;
  }
  

 
  .logout-button {
    width: 100%; 
  }

  
  /* .chat-container {
    padding: 10px; 
  } */

  .message {
    width: 90%; 
    margin: 10px auto; 
    font-size: 16px; 
  }

  .input-container {
    width: 100%; 
  }

  .input-box {
    width: 70%; 
  }

  .send-button {
    width: 12%;
    font-size: 10px;
    text-align: center;
    justify-content: center;
    margin-left: 5px;
    padding-left: 2%;
  }

  
  .user-icon::before,
  .bot-icon::before {
    font-size: 20px;
  }
}


